<div class="container-fluid" style="background-color: #F0F0F0;">
    <div class=" container row" style="padding: 5em;">    
        <div class="col-md-6 col-sm-12 text-center" >
            <h1 id="accept"> <span>Accept</span> <br/>
                <br/> <span id="christ"  style="color: #291B6F;"> Jesus Christ</span>  </h1><br/>
            
        </div>
         <div class="col-md-6 col-sm-12 text-center">
             <p>
                The greatest decision on earth is to become a friend of Jesus by accepting him as your Lord and personal savior.
                The most important prayer you will ever pray is the prayer of salvation.
             </p><br/>
             <p>
                Don’t wait a little longer, don’t procrastinate because tomorrow might just be too late.
             </p><br/>
             <p style="color: grey;">
                Prayer of Salvation – Say it and Mean it now
             </p><br/>
             <p><button type="button" class="btn btn" id="pray">Pray with us:</button></p>
        </div>
    </div>   
</div>

<div class="water">
    <div class="text-center text-light">
        <p class="m-5 pt-3"  id="baptism">Baptism</p>
        <p class="pt-5" id="holy" style="font-size: xx-large;">Water & Holy Spirit Baptism</p><br/><br/>
        <p>Do you want to be baptized by immersion in water or you ‘re hungry for the holy spirit baptism? <br/>
            See the Directorate of Education and Training or the church office for the next water/holy spirit <br/> 
            baptismal class.</p>
    </div>
</div>


<div class="container-fluid jumbotron"><br/>
    <p class="text-center" id="join" >Join the Workforce</p><br/><br/>
    <div class=" container row mt-5">    
        <div class="col-md-6 col-sm-12  text-center" >
            <p class="text-center" id="small">Small Groups</p>  <br/><br/>   
            <p class="p-2" style="line-height: 1.5em;">Small groups are gathering of  few people meeting in a home at allocated time <br/>
                 periods (Acts 2:46; 20:20). At The True Vine Center, we believe the cell fellowship <br/> as one simple purpose – to connect people  together, care for one another 
                 and <br/> grow spiritually as we engage in conversations about the practical elements <br/> of our faith.</p> <br/>
             <p>Find below the Cell Fellowship location near me……</p>             
        </div>
        <div class="col-md-4 col-sm-12 offset-2 ">
            <img src="assets/work.jpg" alt="work" id="image"  />
        </div>
    </div>   
</div>

<div class="container-fluid mt-5"><br/>
    <p class="text-center" id="department">Our Departments</p><br/><br/>
    <p class="text-center"  id="looking">Looking forward to serving the Lord as volunteer at TTVC, here are some of our departments.</p>
    <div class=" container row m-5" >     
        <div class="col-md-4 col-sm-12 " >
             <h1 class="department">DIRECTORATE OF MINISTRY</h1> 
             <hr class="bg-danger " style="width: 6em;"/>  
             <ul style="color:#291B6F" class="h5"><br/>
                 <li>Choir Ministry</li>
                 <li>Children’s Church Ministry</li>
                 <li>Teens Church Ministry</li>
                 <li>Prayers & Intercession Ministry</li>
                 <li>Young Adult & Youth Ministry</li>
                 <li>Men Ministry</li>
                 <li>Women Ministry</li>
             </ul>         
        </div>
        <div class="col-md-4 col-sm-12  " >
            <h1 class="department">DIRECTORATE OF EDUCATION & TRAINING</h1> 
            <hr class="bg-danger" style="width: 6em;"/>  <br/>
            <ul style="color:#291B6F" class="h5">
                <li>Foundation of Faith (Believers) Class</li>
                <li>Baptismal Class</li>
                <li>Leadership Series (101, 201, & 301) Class</li>
                <li>Small Groups (Cell Fellowship)  </li>
                <li>Sunday School</li>
                <li>Financial/Business/Career Class</li>
            </ul>         
        </div>
        <div class="col-md-4 col-sm-12   ">
            <h1 class="department" >DIRECTORATE OF GROWTH</h1> <br/>
            <hr class="bg-danger" style="width: 6em;"/> <br/>
            <ul style="color:#291B6F" class="h5" >
                <li>Membership Services</li>
                <li>Follow-Up Team</li>
                <li>Evangelism & Outreach</li>
                <li>Welfare & In-reach</li>
                <li>Research, Strategy & Development</li>
            </ul>
        </div>
    </div>   
    <div class=" container row" >    
        <div class="col-md-4 col-sm-12 offset-2 text-center" >
            <h1 class="department" >DIRECTORATE OF ADMINISTRATION & FINANCE</h1> <br/>
            <hr class="bg-danger" style="width: 6em;"/> <br/>
            <ul style="color:#291B6F" class="h5" >
                <li>Human Resources/Staffing</li>
                <li>Finance& Budget</li>
                <li>Procurement</li>
                <li>Maintenance &Quality</li>
                <li>Control/Assurance</li>
            </ul>
            
        </div>
         <div class="col-md-4 col-sm-12 offset-2 text-center">
            <h1 class="department" >DIRECTORATE OF OPERATIONS</h1> <br/>
            <hr class="bg-danger" style="width: 6em;"/> <br/><br/>
            <ul style="color:#291B6F" class="h5" >
                <li>Ushering & Greeters</li>
                <li>Media and Technical</li>
                <li>Protocol & Hospitality</li>
                <li>Transportation</li>
                <li>Holy Police Squad</li>
            </ul>
        </div>
    </div>   
</div> <br/><br/><br/>

<footer class="container-fluid  text-dark text-center  pb-3" style="font-weight: bolder;">
    <p> 
       © Copyright 2021 RCCG The True Vine Center Miami FL. All Rights Reserved
    </p>
 </footer>
