 <!-- <div class="container-fluid contain" >
    <div class=" container row" style="padding: 3em;" >    
        <div class="col-md-6 col-sm-12 text-center" >
            <h1  id="give"> Give </h1><br/>
            <h1 id="promote"> Promote the Gospel of christ</h1>  
        <br/>
            <ol style="line-height: 2em; font-size: larger;">
                <li>Go to Givelify.com</li>
                <li>Click donate today</li>
                <li>Search "RCCG The True Vine Center"</li>
                <li>Select your gift or click "other" to specified amount</li>
                <li>Click which area you want to give to</li>
                <li>Click give.</li> <br/>
                <p>*If you don't have an account you will need to create one*</p>
                <p>*You can also download the Givelify app*</p>
              </ol>
        </div>
        <hr id="hrr"/>
         <div class="col-md-6 col-sm-12 text-center" style="padding-top: 3em;" >
             <p > <img src="assets/cash01.png" width="24em" height="24em" />: $RCCGTTVC</p>
             <p > <img src="assets/pay.png"  width="24em" height="24em" />: rccgttvc@gmail.com</p>
             <p><b class="h4">Givelify</b>: RCCG The True Vine Center</p>   
        </div>
    </div>   
</div> -->




<div class="container-fluid contain" >
    <h1 class=" pt-5" id="give" > Give</h1><br/>
    <p  id="promote"> Promote the Gospel of christ</p><br/><br/>
    
    <div class="container row "  >    
        <div class="col-md-3 col-sm-12 offset-3 ">
            <p> <img src="assets/cash01.png" width="24em" height="24em" />&nbsp;&nbsp;<b>:</b> $RCCGTTVC</p>
            <p> <img src="assets/pay.png"  width="24em" height="24em" />&nbsp;&nbsp;<b>:</b> rccgttvc@gmail.com</p>
        <p><b class="h4">Givelify</b>: RCCG The True Vine Center</p> 
        </div>
         <div class="col-md-6 col-sm-12 ">
           <ol style="line-height: 2em; font-size: larger;">
            <li>Go to Givelify.com</li>
            <li>Click donate today</li>
            <li>Search "RCCG The True Vine Center"</li>
            <li>Select your gift or click "other" to specified amount</li>
            <li>Click which area you want to give to</li>
            <li>Click give.</li> <br/>
            <p>*If you don't have an account you will need to create one*</p>
            <p>*You can also download the Givelify app*</p>
          </ol>
        </div>
        
    </div>

   </div> 










<br/><br/> 

<footer class="container-fluid  text-dark text-center  pb-3" style="font-weight: bolder;">
    <p> 
       © Copyright 2021 RCCG The True Vine Center Miami FL. All Rights Reserved
    </p>
 </footer>