<div class="container-fluid" style="background-color: #F0F0F0;">
    <div class="  row" style="padding: 5em;">    
        <div class="col-md-4 col-sm-12 text-center" >
            <h1 id="virtual"  >Virtual Church Purpose</h1>
            <br/> <hr id="hrr" />
        </div>
         <div class="col-md-8 col-sm-12 text-center" id="word">
             <p>
                “And this gospel of the kingdom shall be preached in
                 all the world for a witness unto all nations; and then shall the end come.” <br/> (Matt. 24: 14 KJV)
             </p><br/>
             <p>
                Virtual Church concept has become imperative in today’s fast moving digital and advanced technological world.
             </p><br/>
             <p>
                In fulfillment of divine prophecy according to Matthew 24: 14 (KJV) – “And this gospel of the kingdom shall be 
                preached in all the world for a witness unto all nations; and then shall the end come.” Hence, we believe the church
                 has a responsibility to take the gospel to the people wherever they are especially those who couldn’t physically go 
                 to church for different reasons. For instance, people who are in hostile or safety concern area,
                 on the sick bed, disability, proximity, travelling, on vacation, or in a neighborhood without any church all around the world.
             </p><br/>
             <p>
                Virtual Church provides the opportunity for people to gather together on our various virtual platforms (Online Church Service
                 – Live Streaming, Virtual Reality Church Service, Church Service Video-On-Demand and Social Media – Facebook live, Podcast 
                 Church Service and Teleconference/Media Church Service etc.) and still be able to enjoy and have a total church experience 
                 which includes but not limited to – Worship, Inspiring Music, Undiluted Word and Complete Fellowship, Networking and 
                 Connections amongst people of like minds.
             </p>
        </div>
    </div>   
</div> <br/><br/>

<div class="container">
    
</div>

<div class="container">
    <h1 class="text-center" style="font-weight:bolder;">JOIN OUR LIVE VIRTUAL SUNDAY SERVICE ON ZOOM, YOUTUBE, FACEBOOK, & TWITCH.</h1>
    <div class=" row" style="padding: 5em;">    
        <div class="col-md-4 col-sm-12">
            <h1><b>Time:</b></h1>
            <p>10:00am EST </p>
            <p>3:00pm GMT</p>
            <p>6:00pm CET</p>
            <p>7:00am PT</p>
        </div>
        <div class="col-md-8 col-sm-12 text-center" >
        <h1><b>To join the live stream, click on any of the following links</b></h1>
        <br/>    
        <a href=" https://www.youtube.com/channel/UCDMdxR1CmzTSEVpGGs2IlGQ"><h2>YouTube</h2></a>
       <a href="https://www.twitch.tv/rccgttvc"><h2>Twitch</h2></a> 
        <a href="https://www.facebook.com/truevine.rccg.54/"><h2>FaceBook</h2></a>
        <a href="https://us02web.zoom.us/j/2671767045?pwd=MVkyQS9JeFVEUTZyQVJRVm5SN0RCZz09"><h2>Zoom</h2></a>
        <p>Meeting ID: 267 176 7045</p>
        <p>Passcode: ttvc</p>
    </div>
    </div>
</div><br/><br/>

<footer class="container-fluid  text-dark text-center  pb-3" style="font-weight: bolder;">
    <p> 
       © Copyright 2021 RCCG The True Vine Center Miami FL. All Rights Reserved
    </p>
 </footer>