<div class="container-fluid" style="background-color: #F0F0F0;">
    <div class=" container row" style="padding: 5em;">    
        <div class="col-md-6 col-sm-12 text-center" >
            <h1  id="our">Our Church</h1><br/>
            <hr style="width: 70px; background-color: red;" /><br/>
            <p>
                We‘re glad and excited you‘re here. You‘re most welcome!
            </p>
        </div>
         <div class="col-md-6 col-sm-12 text-center">
             <p>
                The True Vine Center Miami Florida,  is a non-denominational, dynamic, 
                vibrant, multicultural and multiracial congregation of the Redeemed Christian Church of God in Miami 
                Florida, targeted towards raising disciples to impact their community and take over the world for JESUS
                 through the power of the Holy Spirit in all spheres and strata of human endeavors.
             </p><br/>
             <p>
                At The True Vine Center Miami Florida, we believe a major revival and a new move of God is sweeping through American
                Continent and the entire world, and we‘ve been entrusted by the Lord through grace to be part of the saints
                to champion this move as we commit ourselves to raising kingdom army, gifted, skillful and uniquely anointed
                young adults, professionals, men and women with unusual mantle to fulfill their destiny in this last days.
             </p><br/>
             <p>
                True Vine is a church that celebrates diversity, committed to intense worship, inspiring music, 
                undiluted word and capacity building. We are a family of love, faith and purpose. 
                It’s a family you want to belong and it’s a family of your dream. Trust me!
             </p>
        </div>
    </div>   
</div>

<div class=" p-4 text-light" style="background-color: #381373;">
        <div class="text-center">
            <h1 style="font-weight: bolder; font-size: 3em;">Our Vision</h1> <br/>
            <h3 style="font-weight: bolder;">(This is what we want to become)</h3><br/>
            <p>To raise kingdom army equipped with the power of the Holy Spirit to take over the world in all spheres <br/>
                and strata of human endeavors and prepare men for the kingdom of God.</p>     
        </div>
</div>

<div class="container-fluid" style=" background-color: #F0F0F0;">
    <div class="conatiner row" style="padding: 5em;">    
        <div class="col-md-6 col-sm-12 text-center ">
            <h1 style="font-weight:bolder; font-size: 3em;">Our Church</h1>
            <hr style="width: 50px; background-color: red;" />
            <p>
                We‘re glad and excited you‘re here. You‘re most welcome!
            </p>
        </div>
         <div class="col-md-6 col-sm-12 ">
             <ul style=" list-style-position: outside">
                 <li>To make heaven.</li>
                 <li>To take as many people with us.</li> 
                 <li>To have a member of RCCG in every family of all nations.</li> 
                 <li>To accomplish No.1 above, holiness will be our lifestyle.</li>
                 <li>We will pursue these objectives until every Nation in the world is reached for the Lord Jesus Christ.</li>   
             </ul>
        </div>
    </div>   
</div>


<div class="container mt-5">
    <h1 class="text-center" style="font-weight: bolder; font-size: 3em;">Our Services</h1><br/>
    <p style="text-indent: 35px;">Our Services are 90 minutes long except special services and all our programs are power 
        packed with intense worship, inspiring  music and anointed undiluted messages  that is guaranteed to change and 
        transform your life.</p><br/>
         <div class=" row" >    
            <div class="col-md-4 col-sm-12  ">
                <p><b> Sunday Service</b></p>
                <p>(Power Service)</p>
                <p>10am</p>
                <p>Sunday School (9.30am – 10.00am)</p>
            </div>
             <div class="col-md-4 col-sm-12 ">
                <p><b> Tuesday Service</b></p>
                <p>(Word Encounter))</p>
                <p>7.30pm</p>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <p><b>Special Friday Service</b></p>
                <p>(Signs & Wonder Night))</p>
                <p>10.00pm – 12.00am</p>
            </div>
        </div>   
</div><br/>

<div class="container-fluid mt-5">
    <h1 class="text-center" style="font-weight: bolder; font-size: 3em;">Our Values</h1><br/>
    <p class="text-center">(This is what we want to be known for)</p><br/>
    <div style="line-height: 2em;">
        <div class=" row p-3" >    
            <div class="col-md-4 col-sm-12  ">
                <p>Value No.</p>
                <p style="font-size: 2em;">01. &nbsp;  Living by the Word</p>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <p>Value No.</p>
                <p style="font-size: 2em;">02. &nbsp;  Devoted to Prayer</p>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <p>Value No.</p>
                <p style="font-size: 2em;">03. &nbsp; Rooted in Worship</p>
            </div>
        </div>   

        <div class=" row p-3" >    
            <div class="col-md-4 col-sm-12  ">
                <p>Value No.</p>
                <p style="font-size: 2em;">04. &nbsp;   People of Excellence</p>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <p>Value No.</p>
                <p style="font-size: 2em;">05. &nbsp; People of Faith</p>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <p>Value No.</p>
                <p style="font-size: 2em;">06. &nbsp; People of love</p>
            </div>
        </div>   

        <div class=" row p-3" >    
            <div class="col-md-4 col-sm-12  ">
                <p>Value No.</p>
                <p style="font-size: 2em;">07. &nbsp;  People of Compassion</p>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <p>Value No.</p>
                <p style="font-size: 2em;">08. &nbsp;  People of Purpose</p>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <p>Value No.</p>
                <p style="font-size: 2em;">09. &nbsp; Messenger of the gospel</p>
            </div>
        </div>
    </div>
         
</div>


<div class="container-fluid mt-5" style=" background-color: #F0F0F0;">
    <h1 id="practices">Our Practices</h1>
    <p class="text-center"> (This is how we practically live out our values) </p>

    <div class="container row mx-auto" style="padding: 4em;">    
        <div class="col-md-4 col-sm-12 text-center ">
            <i class="fa fa-love text-primary"></i><br/>
            <h2><b>Love</b></h2>
            <p>We practically demonstrate love by reaching out to one another and to our community.</p>
        </div>
         <div class="col-md-4 col-sm-12 ">
            <i class="fa fa-church text-primary"></i><br/>
            <h2 class="text-center"><b>Gather</b></h2>
            <p>We gather with others in small groups (Cell fellowship) and worship service.</p>
        </div>
        <div class="col-md-4 col-sm-12 text-center ">
            <i class="fa fa-cross text-primary"></i><br/>
            <h2><b>Abide</b></h2>
            <p> Staying connected in a continuous relationship with Jesus.</p>
        </div>
    </div> 

    <div class="container row mx-auto" >    
        <div class="col-md-4 col-sm-12 text-center ">
            <i class="fa fa-love text-primary"></i><br/>
            <h2><b>Connect</b></h2>
            <p>Connecting with others for spiritual growth and support.</p>
        </div>
         <div class="col-md-4 col-sm-12 ">
            <i class="fa fa-church text-primary"></i><br/>
            <h2 class="text-center"><b>Serve</b></h2>
            <p>Serving God by investing our time, skills and talent in kingdom work.</p>
        </div>
        <div class="col-md-4 col-sm-12 text-center ">
            <i class="fa fa-cross text-primary"></i><br/>
            <h2><b>Give</b></h2>
            <p>Giving back to God a portion of his blessings in our lives because it belongs to him.</p>
        </div>
    </div><br/>

    <div class="container row mx-auto" >    
        <div class="col-md-4 col-sm-12 text-center ">
            <i class="fa fa-love text-primary"></i><br/>
            <h2><b>Witness/Invite</b></h2>
            <p>Sharing the story of Jesus and my personal story with those who are yet to know him.</p>
        </div>
         <div class="col-md-4 col-sm-12 ">
            <i class="fa fa-church text-primary"></i><br/>
            <h2 class="text-center"><b>Outreach</b></h2>
            <p>Engaging in reaching out to the needy, homeless, challenged, sick people in our community.</p>
        </div>
    </div>  
</div> <br/><br/>

<br/><br/>

<footer class="container-fluid  text-dark text-center  pb-3" style="font-weight: bolder;">
    <p> 
       © Copyright 2021 RCCG The True Vine Center Miami FL. All Rights Reserved
    </p>
 </footer>