<div class="container-fluid" style="background-color: #F0F0F0;">
    <div class=" container row" style="padding: 5em;">    
        <div class="col-md-6 col-sm-12 text-center" >
            <h1 id="history">Our History</h1>
            <br/> <hr  style="background-color: red; width: 100px; height: 2px;" />
        </div>
         <div class="col-md-6 col-sm-12 text-center">
             <p style="line-height: 2em;">
                In July 1909, a son was born into the Akindayomi family of Ondo State in Nigeria (West Africa). Even though this 
                child grew up surrounded by idol worshippers, he knew there existed a greater power and yearned to know, “The God 
                who created the earth and everyone on it”. This pursuit for God led him to the Church Missionary Society where he 
                was baptized in 1927. Still spiritually unfulfilled, he joined the Cherubim and Seraphim church in 1931.
             </p><br/>
             <button type="button" class="btn btn text-light" routerLink='/our-history'  style="background-color: #291B6F;">Read More:</button>
        </div>
    </div>   
</div>

<div class="container-fluid" style="background-color:#381373;">
    <div class=" row pt-5">    
        <div class="col-md-4 col-sm-12 text-center" >
            <img src="assets/adeboye01.jpg" />
        </div>
         <div class="col-md-8 col-sm-12 text-center text-light" style="line-height: 2em;">
             <h1 class="text-light" id="the">Meet the General Overseer (G.O)</h1>
           <div style="padding: 1em;">
               <p>The General Overseer (G.O) of the Redeemed Christian Church of God (RCCG), Pastor Enoch Adejare Adeboye is a man of God,
                    who has been a tremendous blessing and inspiration to numerous people and drawn lost souls to salvation by the grace of God.
               </p> <br/>
               <p>
                   He under went primary and secondary education which were almost curtailed due to the problem of funds, barefooted and in tears. 
                   He recalls “for the first seventeen years of my life, I never had to wear shoes”. However, as God would have it, he survived 
                   against all odds to graduate from the University in 1967, at the age of 25. Between 1967 and 1975 he had added two more degrees, 
                   an M.Sc in hydrodynamics and a Ph.D in Applied Mathematics, and lectured at the University of Lagos and university of Ilorin.
                    Before his lectureship at these Universities, the G.O had taught mathematics at two secondary schools viz: Okeigbo  Grammar 
                    School, Okeigbo near Ondo and the Lagos Anglican Girls Grammar School, Surulere – Lagos State, Nigeria.
               </p><br/>
               <p>
                   It would appear that his academic and professional career and achievement greatly prepared him for the office into which God 
                   was to call him later on.
               </p><br/>
               <p>
                   Although he leads one of the fastest growing Christian Churches not just in Africa today, but all over the world. Majority of
                    the flock he shepherds apart from calling him “Daddy” or “Father in the Lord” know little or nothing about him.This is probably
                     because of a philosophy which seems to emphasize the power and glory of God in all that he does, rather than highlight his own 
                     personal achievements or contribution to the phenomenal growth of the church and the body of Christ. As he will say whenever 
                     commended, “Glory be to God”.
               </p><br/>
               <p>
                   In any case, the humility of Pastor Adeboye is so well-known and reflected in everything that surrounds him. It has also become
                   the hallmark of the Redeemed Christian Church of God, which he has led since he was appointed the head of the Church in 1981.
                   This piece is an attempt to bridge the gap regarding necessary information about the General Overseer. The intention is that 
                   the member of his congregation as well as other Christians and Non-Christian alike can learn something about his life, humble 
                   beginnings, relationship with God, career and Christian ministry, and also that it is only through total dedication and 
                   commitment to God that man can achieve true holiness and elevation.
               </p>
           </div>  
        </div>
    </div>   
</div> <br/><br/>

<footer class="container-fluid  text-dark text-center  pb-3" style="font-weight: bolder;">
    <p> 
       © Copyright 2021 RCCG The True Vine Center Miami FL. All Rights Reserved
    </p>
 </footer>